/*
// base
*/
@import "../variables";
@import "../mixins/direction";

html {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    background: $body-bg;
    color: $body-font-color;
    backface-visibility: hidden;
    overflow-y: scroll;

    @include direction {
        text-align: $inline-start;
        direction: $direction;
    }
}

#root {
    height: 100%;
}

// ----------------------------------------
// -- BACKGROUND
// ----------------------------------------

.bg-primary {
    background-color: $primary-color !important;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.bg-muted {
    background-color: $bg-muted-color !important;
}

.bg-success {
    background-color: $success-color !important;
}

.bg-green {
    background-color: $green-color !important;
}

.bg-red {
    background-color: $red-color !important;
}

.bg-gray {
    background-color: $gray-color !important;
}

.bg-light-gray {
    background-color: $light-gray-color !important;
}

// ----------------------------------------
// -- BORDER
// ----------------------------------------

.border-primary {
    border-color: $primary-color !important;
}

.border-selected {
    border: solid 3px $primary-color;
}

.border-dashed {
    border: 1px dashed $border-color;
}

// ----------------------------------------
// -- IMAGE
// ----------------------------------------

.image-reg-small {
    height: 40px;
    object-fit: contain;
}

.image-reg-medium {
    height: 80px;
    object-fit: contain;
}

.image-reg-large {
    height: 160px;
    object-fit: contain;
}

.image-square-tiny {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.image-square-small {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

// ----------------------------------------
// -- HOVER
// ----------------------------------------

.hover-pointer {
    cursor: pointer;
}

// ----------------------------------------
// -- FLEX
// ----------------------------------------

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ----------------------------------------
// -- SCROLL BAR
// ----------------------------------------

.hide-scroll-bar-y {
    overflow-y: scroll;
}
.hide-scroll-bar-y::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.hide-scroll-bar-x {
    overflow-x: scroll;
}
.hide-scroll-bar-x::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.hide-scroll-bar {
    overflow: scroll;
}

.hide-scroll-bar::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

// ----------------------------------------
// -- OPACITY
// ----------------------------------------

.opacity-3 {
    opacity: 30%;
}

.opacity-5 {
    opacity: 50%;
}

.opacity-7 {
    opacity: 70%;
}

// ----------------------------------------
// -- SIZING
// ----------------------------------------

.width-fit-content {
    width: fit-content;
}

.height-fit-content {
    height: fit-content;
}

.divider {
    width: 100%;
    border-bottom: 1px solid $light-divider-color;
}

// ----------------------------------------
// -- PADDING & MARGIN
// ----------------------------------------

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
