@import "../mixins/buttons";
@import "../variables";
@import "../functions";

@each $nameSize, $size in $dot-size {
    @each $name, $color in $basic-color {
        .d-dot__#{$nameSize}-#{$name} {
            background-color: $color;
            border: none;
            outline: none;
            width: $size;
            height: $size;
            border-radius: 999px;
            text-align: center;
            line-height: $size;
            color: set-text-color($color);
            font-size: $size;
            @if ($nameSize == "xxx-large" or $nameSize == "xx-large") {
                font-size: $size - 11px !important;
            }
            @if ($nameSize == "x-large" or $nameSize == "large") {
                font-size: $size - 9px !important;
            }
        }
    }
}
