@import "../mixins/buttons";
@import "../variables";


@each $nameSize, $size in $dot-size {
    @each $name, $color in $basic-color {
        .d-dot__#{$nameSize}-#{$name} {
            background-color: $color;
            border: none;
            outline: none;
            width: $size;
            height: $size;
            border-radius: 999px;
        }
    }
}
