@import "../variables";

.d-table-awesome-component {
    height: 100%;
    width: 100%;
    background-color: transparent;
    &__select-column {
        width: "100%";
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .ant-pagination {
        background-color: $light-color;
        width: 100%;
        margin: 0 !important;
        padding: 16px 0;
    }
}

.d-table-awesome-component__no-border {
    .ant-table-thead
        > tr
        > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        opacity: 0;
    }
}

.d-table-awesome-component__row td {
    @extend .text-small;
}

.d-table-awesome-component__row .ant-table-cell-with-append {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.d-table-awesome-component__table {
    font-family: var(--appFont);
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
}

.containerControl {
    flex-direction: row;
    display: flex;
}

.d-table-awesome-component__table thead > tr > th {
    background-color: #e8e8e8;
}

.ant-table-content {
    > table {
        background-color: white;
    }
}

.d-table-awesome-component .ant-table-thead > tr > th {
    background-color: white !important;
    @extend .text-x-small;
}
.d-table-awesome-component .ant-pagination-total-text {
    @extend .flex-center-y;
    @extend .text-x-small;
}

.d-table-awesome-component .ant-pagination-item-link {
    @extend .text-x-small;
    border-radius: $border-radius !important;
}

.d-table-awesome-component .ant-pagination-options-quick-jumper input {
    @extend .text-x-small;
    border-radius: $border-radius !important;
}

.d-table-awesome-component {
    .ant-pagination-item,
    .ant-select-selection-item {
        @extend .text-x-small;
        @extend .flex-center;
        border-radius: $border-radius !important;
    }
}

.d-table-awesome__layout-manager-column-popover {
    width: max-content !important;
}

.d-table-awesome__layout-manager-view-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30rem;
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
    }
}

@media screen and (max-width: 1000px) {
    .d-table-awesome-component table,
    .d-table-awesome-component tbody,
    .d-table-awesome-component thead,
    .d-table-awesome-component tr,
    .d-table-awesome-component th,
    .d-table-awesome-component td {
        display: block;
    }
    .d-table-awesome-component thead > tr {
        position: absolute;
        top: -9999999px;
        left: -9999999px;
    }
    .d-table-awesome-component tr {
        width: 100%;
        border: 1px solid rgb(220, 220, 220);
    }
    .d-table-awesome-component .ant-table-tbody > tr > td {
        position: relative;
        padding-left: 50%;
        width: 100%;
        text-align: left !important;
    }
    .d-table-awesome-component .ant-table-tbody > tr > td::before {
        content: attr(data-title);
        white-space: nowrap;
        font-size: 1.5rem;
        font-family: var(--appFont);
        font-weight: bold;
        text-align: left !important;
        position: absolute;
        left: 0.5rem;
    }
}
