@import "../variables";

.d-dropdown {
    width: fit-content;
    position: relative !important;
    overflow: visible;
    button:active,
    button:focus {
        border: 1px solid $accent-color !important;
    }
}

.d-dropdown-menu__container {
    position: absolute;
    z-index: 20;

    background-color: $light-color;
    box-shadow: $card-container-box-shadow;
    list-style-type: none;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;

    transition: all 0.3s ease-in;
    padding: 16px;
    min-width: 150px;

    .d-dropdown-menu__item-with-submenu {
        position: relative !important;
        .d-dropdown-menu__container {
            position: absolute;
            right: -1000px;
            top: -1000px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        &:hover {
            .d-dropdown-menu__container {
                position: absolute;

                opacity: 1;
                box-shadow: $card-container-box-shadow;
            }
        }
    }
}

.d-dropdown-menu__container-right-edge {
    left: -200%;
    top: auto;
    right: auto;
    bottom: auto;

    .d-dropdown-menu__item-with-submenu {
        &:hover {
            .d-dropdown-menu__container {
                top: 0;
                right: auto;
                bottom: auto;
                left: -125%;
            }
        }
    }
}

.d-dropdown-menu__container-left-edge {
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;

    .d-dropdown-menu__item-with-submenu {
        &:hover {
            .d-dropdown-menu__container {
                top: 0;
                right: -125%;
                bottom: auto;
                left: auto;
            }
        }
    }
}

.d-dropdown-menu__item {
    padding: 8px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    // justify-content: center;
    &:hover {
        cursor: pointer;
        background-color: $light-gray-color;
    }
}

.d-dropdown-menu__item-main-view {
    width: fit-content;
    background-color: $light-gray-color;
    height: 40px;
    padding: 0px 10px;
    .d-dropdown-menu__item-label {
        font-weight: bold;
        margin: 0 10px;
    }
}
