@import "../variables";

.d-collapse-view__container,
.ant-collapse {
    .ant-collapse-header {
        background-color: $bg-muted-color;
        border-radius: 0px !important;
        display: flex;
        align-items: center;
    }
    border-radius: 0px !important;
}

.d-collapse-view__header-title {
    font-weight: 500 !important;
}

.d-collapse-view__header-title-required {
    &::after {
        content: "*";
        color: $error-color;
        margin-left: 3px;
    }
}

.d-collapse-view__container {
    .ant-collapse-header {
        position: relative;
        &_custom-right-view-extra {
            position: absolute;
            z-index: 1;
            right: 35px !important;
            bottom: 13px !important;
        }
        &_custom-right-view {
            position: absolute;
            z-index: 1;
            right: 35px !important;
            bottom: 13px !important;
        }
    }
}
