@import "../variables";

.d-collapse-view__container {
    .ant-collapse-header {
        background-color: $bg-muted-color;
        border-radius: $border-radius !important;
        display: flex;
        align-items: center;
    }
    .ant-collapse-item-active {
        .ant-collapse-header {
            border-radius: $border-radius $border-radius 0px 0px !important;
        }
    }
    .ant-collapse-content-box {
        border-radius: $border-radius;
    }
    border-radius: $border-radius;
}

.d-collapse-view__header-title {
    font-weight: 500 !important;
}

.d-collapse-view__container {
    .ant-collapse-header {
        position: relative;
        &_custom-right-view-extra {
            position: absolute;
            z-index: 1;
            right: 35px !important;
            bottom: 13px !important;
        }
        &_custom-right-view {
            position: absolute;
            z-index: 1;
            right: 35px !important;
            bottom: 13px !important;
        }
    }
}
