@import "../variables";
@import "../common/text";

.d-date-input {
    .d-date-input__no-out-line {
        border: 0px solid white !important;
        border-bottom: $input-border !important;
    }
    .d-date-input__input {
        width: 100%;
        height: $input-height;
    }
    .d-date-input__label {
        margin-bottom: 25px;
    }
    .ant-picker {
        border-radius: $border-radius !important;
    }
    .ant-picker:hover,
    .ant-picker-focused {
        border: $input-border-focus !important;
        outline: none !important;
        box-shadow: none !important;
    }
    .d-date-input__button {
        display: none;
    }

    .ant-picker-input {
        > input {
            @extend .text-x-small;
        }
    }
}

.d-date-input__hide-input {
    position: relative;
    .d-date-input__input {
        width: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        .ant-picker-input {
            input {
                color: white;
                cursor: pointer;
            }
            input::placeholder {
                color: white;
            }
            input:focus {
                outline: none;
                border: none;
            }
        }
    }
    .d-date-input__button {
        display: block;
        position: absolute;
        pointer-events: none;
        cursor: pointer;
        z-index: 10;
    }
    .ant-picker-suffix {
        display: none;
    }
}

.d-date-input__abel-required {
    &::after {
        content: "*";
        color: $error-color;
        margin-left: 3px;
    }
}
