@import "../variables";

.d-tab-bar__horizontal {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    .d-tab-bar__item {
        font-weight: $font-weight-normal !important;
        color: $gray-color;
    }
    .d-tab-bar__item-active {
        font-weight: $font-weight-semi-bold !important;
        border-bottom: 3px solid $accent-color;
        color: $accent-color !important;
    }
}

.d-tab-bar__horizontal::-webkit-scrollbar {
    display: none;
}

.d-tab-bar__vertical {
    .d-button__large {
        height: auto !important;
    }
    .d-tab-bar__item {
        width: 100%;
        font-weight: $font-weight-normal !important;
        border-bottom: 1px solid $line-color;
        // border-top: 1px solid $light-gray-color;
        color: $text-color;
        padding: 16px 0px;

        &-active {
            font-weight: $font-weight-semi-bold !important;
            background-color: $accent-color;
            color: $light-color !important;
        }
    }
    .d-tab-bar__item:first-child {
        border-top: 1px solid $line-color;
    }
}
