@import "../mixins/buttons";
@import "../variables";

$button-variant: ("outline", "standard", "trans");
$button-color: (
    "primary": $accent-color,
    "secondary": $secondary-color,
    "green": $green-color,
    "red": $red-color,
    "yellow": $yellow-color,
    "blue": $blue-color,
    "gray": $gray-color,
    "dark": $dark-color,
    "light": $light-color,
);

//base
.d-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    width: fit-content;
    border: none;
    i {
        text-decoration: none !important;
    }
}

//size
.d-button__large {
    @include btn-large();
}
.d-button__medium {
    @include btn-medium();
}
.d-button__small {
    @include btn-small();
}
.d-button__x-small {
    @include btn-x-small();
}
//variant

@each $var in $button-variant {
    @each $name, $color in $button-color {
        .d-button__#{$var}-#{$name} {
            @if ($var == "trans") {
                background-color: transparent;
                color: $color;
                border: none;
                outline: none;
                &:active {
                    outline: none !important;
                    background-color: $btn-trans-active-bg-color !important;
                    color: $btn-trans-active-font-color;
                }
                &:focus {
                    outline: none !important;
                }
                &:hover {
                    background-color: $btn-trans-hover-bg-color;
                }
                &:disabled {
                    color: $disabled-color;
                }
            }
            @if ($var == "outline") {
                border: 1px solid $color;
                background-color: $light-color;
                color: $color;
                &:active {
                    outline: none !important;
                    background-color: darken($color, 10%) !important;
                    color: $light-color;
                }
                &:focus {
                    outline: none !important;
                }
                &:hover {
                    // background-color: $btn-outline-hover-color;
                    background-color: rgba($color, 0.05);
                    color: darken($color, 5%);
                    // color: $light-color;
                }
                &:disabled {
                    border: 1px solid rgba($accent-color, 0.3);
                    color: rgba($accent-color, 0.3);
                    background-color: $light-color;
                }
            }
            @if ($var == "standard") {
                background-color: $color;
                color: $light-color;
                &:active {
                    outline: none !important;
                    border: none !important;
                    background-color: darken($color, 10%) !important;
                }
                &:focus {
                    border: none !important;
                    outline: none !important;
                }
                &:hover {
                    background-color: rgba($color, 0.9);
                }
                &:disabled {
                    border: 1px solid rgba($accent-color, 0.3);
                    background-color: $disabled-color !important;
                }
            }
        }
    }
}

.d-button__icon {
    min-width: auto;
    padding: 0px 12px !important;
}
