@import "../mixins/buttons";
@import "../variables";

//base
.d-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    width: fit-content;
    border: none;
}

//size
.d-button__large {
    @include btn-large();
}
.d-button__medium {
    @include btn-medium();
}
.d-button__small {
    @include btn-small();
}
.d-button__x-small {
    @include btn-x-small();
}
//variant
.d-button__standard {
    background-color: $accent-color;
    color: $light-color;
    &:focus {
        outline: none !important;
        background-color: $btn-primary-active-bg-color;
        // border: $btn-border-focus !important;
    }
    &:hover {
        background-color: $btn-primary-hover-bg-color;
    }
}
.d-button__disabled {
    background-color: $disabled-color !important;
}
.d-button__outline {
    border: 1px solid $accent-color;
    background-color: $light-color;
    color: $accent-color;
    &:focus {
        outline: none !important;
        background-color: $btn-primary-active-bg-color;
        // border: $btn-border-focus !important;
    }
}
.d-button__icon {
    min-width: auto;
    padding: 0px 12px !important;
}
