@import "../../scss/variables";

.vertical-tab-view {
    &-item {
        display: flex;
        flex-direction: column;
        border: 0px white solid;
        width: 100%;
        background-color: white;
        cursor: pointer;
    }
}
.vertical-tab-view-item-active {
    background-color: #f8f8f8;
    border-left: 5px solid $accent-color !important;
    color: $accent-color;
}
.view-item-active {
    background-color: #f8f8f8;
    border-bottom: 3px solid $accent-color !important;
    color: $accent-color;
}
