.d-common-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    padding: 1.5rem;
}

.header-table__custom-view-container {
    margin-right: 12px;
    min-width: 180px;
    max-width: 180px;
}
