.d-progress__container {
    border-radius: 1rem;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-progress__error-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.d-progress__error-container {
    min-width: 50vw;
}

.d-progress__root {
    .ant-modal-root {
        z-index: 2000;
    }

    .ant-modal-mask {
        z-index: 2000;
    }

    .ant-modal-wrap {
        z-index: 2000;
    }

    .ant-modal-content {
        background-color: transparent !important;
        box-shadow: none !important;
    }
}
