.progress__container {
    border-radius: 1rem;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress__error-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.progress__error-container {
    min-width: 50vw;
}
