@import "../variables";

.customized-icon {
    &-x-small {
        font-size: $text-x-small-size;
    }
    &-small {
        font-size: $text-small-size;
    }
    &-medium {
        font-size: $text-medium-size;
    }
    &-large {
        font-size: $text-large-size;
    }
}
