@import "../variables";

.customized-icon {
    &__x-small {
        font-size: $text-x-small-size;
    }
    &__small {
        font-size: $text-small-size;
    }
    &__medium {
        font-size: $text-medium-size;
    }
    &__large {
        font-size: $text-large-size;
    }
    &__x-large {
        font-size: $text-large-size + 10px;
    }
    &__xx-large {
        font-size: $text-large-size + 20px;
    }
    &__xxx-large {
        font-size: $text-large-size + 30px;
    }
}
