@import "../variables";
@import "../common/text";
@import "../functions";

.d-badge__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    .d-badge__badge-wrapper {
        border: 2px solid $light-color;
        position: absolute;
    }
}

.d-badge__container-dot {
    .d-badge__badge-wrapper {
        right: -3px;
        top: -3px;
    }
}

.d-badge__container-index {
    .d-badge__badge-wrapper {
        right: -8px;
        top: -8px;
    }
}

@each $name, $size in $badge-size {
    @each $nameColor, $color in $basic-color {
        .d-badge__badge-index-#{$name}-#{$nameColor} {
            background-color: $color;
            width: $size;
            height: $size;
            @extend .text-xx-small;
            color: set-text-color($color);
            border-radius: 50%;
            text-align: center;
            line-height: $size !important;
            font-size: $text-xx-small-size - 2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
