@import "../variables";

.d-popover {
    position: relative;
}

.d-popover__content {
    background-color: $light-color;
    position: absolute;
    box-shadow: $card-container-box-shadow;
    z-index: 1000;
    overflow-y: scroll;
    height: fit-content;
    width: max-content;
    min-width: 20rem;
    max-width: 70vw;
    right: 0;
}

.d-popover__content-right-edge {
    top: 115%;
    right: 0;
    left: auto;
}

.d-popover__content-left-edge {
    top: 115%;
    left: 0;
    right: auto;
}
