@import "../variables";

.d-popover-list {
    .mb-3,
    .my-3 {
        margin-bottom: 0px !important;
    }
}

#searchInput-popoverlist {
    display: flex;
    align-items: center;
    // background-color: rgb(230, 230, 230);
    // padding: 5px 10px;
    border-radius: 8px;
    width: 100%;
}

.inputBase-popoverlist {
    width: 100%;
}

.d-popover-list__dropdown {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 32rem;
    width: max-content !important;
    min-width: 20rem;
}

.d-popover-list__footer {
    min-width: 20em;
    color: #2c98f0;
}

.d-popover-list__footer:hover {
    cursor: pointer;
}

.emptyView-popoverlist {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.renderItemList {
    margin: 0.5rem 1rem;
}

.renderItemList:hover {
    cursor: pointer;
    background-color: $light-gray-color;
}

.create-new-button {
    padding: 1.5rem 0rem;
    display: flex;
    align-items: center;
    i {
        margin-left: 5px;
    }
}

.create-new-button:hover {
    cursor: pointer;
    background-color: $light-gray-color;
}

.create-new-button:hover .subTitle1 {
    color: white;
}

.create-new-button:hover .iconAdd {
    color: white;
}
@media screen and (max-width: 1000px) {
    .d-popover-list__dropdown {
        min-width: 100%;
    }
}
